<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Index</title>
    <script src="https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>
    <!-- 引入 echarts.js -->
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.0-rc.1/extension/dataTool.min.js"></script>

    <style>
        .box {
            display: inline-flex;
        }
    </style>
</head>
<body>
<div class="box">
    <div id="main1" style="width: 450px;height:800px;"></div>
    <div id="main2" style="width: 600px;height:730px;"></div>
</div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main1'));
    myChart.showLoading();  // 开启 loading 效果

    $.get('http://localhost:10079/fm_chart', function (data_load) {
        // alert("加载成功！"); // 测试代码，用于查看 loading 效果
        myChart.hideLoading();  // 隐藏 loading 效果

        var data = echarts.dataTool.prepareBoxplotData(data_load.data_salary, {
            layout: 'vertical'
        });

        option = {
            title: [
                {
                    text: '印度工科毕业生男女性别薪资箱线图',
                    left: 'center',
                }
            ],
            tooltip: {
                trigger: 'item',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                left: '10%',
                right: '10%',
                bottom: '15%'
            },
            xAxis: {
                type: 'category',
                data: data.axisData,
                boundaryGap: true,
                nameGap: 30,
                splitArea: {
                    show: false
                },
                axisLabel: {
                    formatter: '性别{value}（女0男1）'
                },
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'value',
                name: '薪资待遇/INR',
                splitArea: {
                    show: true
                }
            },
            series: [
                {
                    name: 'boxplot',
                    type: 'boxplot',
                    data: data.boxData,
                    tooltip: {
                        formatter: function (param) {
                            return [
                                '详细参数: ',
                                '最大值: ' + param.data[5],
                                '上四分位点: ' + param.data[4],
                                '中位数: ' + param.data[3],
                                '下四分位点: ' + param.data[2],
                                '最小值: ' + param.data[1]
                            ].join('<br/>')
                        }
                    }
                }]
        };

        myChart.setOption(option)
    }, 'json');
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart2 = echarts.init(document.getElementById('main2'));
    myChart.showLoading();  // 开启 loading 效果

    $.get('http://localhost:10079/grade_chart', function (data_load) {
        // alert("加载成功！"); // 测试代码，用于查看 loading 效果
        myChart.hideLoading();  // 隐藏 loading 效果

        array1 = data_load[0];
        array1.splice(0, 0, '收入较低');
        array2 = data_load[1];
        array2.splice(0, 0, '中下收入');
        array3 = data_load[2];
        array3.splice(0, 0, '中上收入');
        array4 = data_load[3];
        array4.splice(0, 0, '高收入');

        option = {
            legend: {},
            tooltip: {},
            dataset: {
                source: [
                    ['product', '12年级平均分', '本科加权成绩'],
                    array1,
                    array2,
                    array3,
                    array4
                ]
            },
            xAxis: {type: 'category'},
            yAxis: {},
            // Declare several bar series, each will be mapped
            // to a column of dataset.source by default.
            series: [
                {type: 'bar'},
                {type: 'bar'}
            ],
            title: [
                {
                    text: '印度工科毕业生不同收入阶层的成绩情况',
                    x: 'center',
                    y: 'bottom'
                }
            ]
        };
        myChart2.setOption(option)
    }, 'json');
</script>
</body>